<!doctype html>
<html ng-app="GitAPI">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html">
<title>Demo</title>
<link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/RepoSummary.js"></script>

 
 <script type="text/javascript">


 </script>
</head>

<body>
	
	<div id="w"  >
		<div ng-controller="GitHubCtrl">
			<h1>Repository Summary Table</h1>

			<p>Enter a single Github organization name below and click the button to
				repositories and issues.</p>

			<input type="text" id="ghorganizationname" style="float:left;" ng-model="orgname" placeholder="GitHub organization name..."> 
			<a href="#" id="ghsubmitbtn" style="float:left; margin-left:10px;" ng-click="getRepos()">Get Repos</a> 
				
			
   			<div style="clear:both;"></div>
   			
   			<b><p style="float:left; width:100px;" ng-show="reposLoaded">Repository:</p>  </b>	
		    <select style="float:left;" ng-show="reposLoaded" ng-model="selectedRepo" ng-change="fillFields()" ng-options="repository.name for repository in repos">
				<!--option disabled selected>Select repository</option-->
				<option value="">{{selectedRepo}}</option>
			</select> 
			<div ng-show="reposNotFound">
      		<h2>No Repo Info Found</h2>
   			</div> 
			
			<div style="clear:both;"></div><br><br>
			
			<div id="selection">
				
				<b><p style="float:left; width:100px;" ng-show="statesLoaded">State:</p>  </b>
				<select style="float:left; " ng-show="statesLoaded"  ng-model="selectedState" ng-options="state.name for state in states">
      				<option value="">All</option>
      				<option value="">{{selectedState}}</option>
    			</select>
    			<div ng-show="statesNotFound">
	      			<h2>No State Info Found</h2>
	   			</div> 
    			
				<div style="clear:both;"></div><br><br>
				
				
				<b><p style="float:left; width:100px;" ng-show="milestonesLoaded">Milestone:</p></b>
				<select style="float:left;" ng-show="milestonesLoaded"  ng-model="selectedMilestone" ng-options="milestone.title for milestone in milestones">
      				<option value="">All</option>
      				<option value="">{{selectedMilestone}}</option>
    			</select>
    			<div ng-show="milestonesNotFound">
      				<h2>No Milestone info found</h2>
   				</div>
    			
				<div style="clear:both;"></div> <br><br> 
				
				<b><p style="float:left; width:100px;" ng-show="usersLoaded">User:</p></b>
				<select style="float:left;" ng-show="usersLoaded" ng-model="selectedUser" ng-options="user.login for user in users">
      				<option value="">All</option>
      				<option value="">{{selectedUser}}</option>
    			</select>
    			<div ng-show="usersNotFound">
      				<h2>No User Info Found</h2>
   				</div>
    			
				<div style="clear:both;"></div><br><br>
				
				<b><p style="float:left; width:100px;" ng-show="labelsLoaded">Label:</p></b>
				<select style="float:left;" ng-show="labelsLoaded" ng-model="selectedLabel" ng-options="label.name for label in labels">
      				<option value="">All</option>
      				<option value="">{{selectedLabel}}</option>
    			</select>
    			<div ng-show="labelsNotFound">
	      			<h2>No Label Info Found</h2>
				</div>
				
				<div style="clear:both;"><br><br>
				
			</div>
			
			<button style="margin-left:100px;" ng-show="buttonLoaded" id="ghsubmitbtn" ng-click="drawChart()">Summary</button> 
			
			<br><br>
			
			<div id="table_div"></div>


			<div id="ghapidata" class="clearfix"></div>
		</div>
		
		<p> UNIT Technologies and Information R&D Ltd.</p>
	</div>
</body>

</html>
